<h1 class="fillow-hometext">Fillow</h1>

<p></p>

<% if(user) { %>
<h2 class="all-listings">All listings</h2>
<div class="home-list">
<ul class="home-ul">
<% listings.forEach((listing,i) => { %>
  <li><a href="/listings/<%=listing.id%>" class="homepage-list"><%= listing.address %>, <%= listing.city %> <%= listing.state %> </li>
<% }) %>
</ul>
</div>
<% } else { %>
  <h1 class="create-or-login">Create an account or login to see listings!</h1>
<%}%>