<% if(user) { %>
<div class="home-list">
<ul class="home-ul">
<% listings.forEach((listing,i) => { %>
  <li><a href="/listings/<%=listing.id%>"><%= listing.address %> </li>
<% }) %>
</ul>
</div>
<% } else { %>
  <h1 class="create-or-login">Create an account or login to see listings!</h1>
<%}%>