<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillow</title>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script> -->
    <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' /> -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/public/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Fillow</h1>
    <div class="navbar-div">
    <nav class="navbar">
        <ul class="layout-ul">
            <% if(user) { %>
            <li class="li-nav"><a href="/">Home</a></li>
            <li class="li-nav"><a href="/users/profile">Profile</a></li>
            <li class="li-nav"><a href="/users/logout">Logout</a></li>
            <li class="li-nav"><a href="/listings/new">Upload</a></li>
            
            <% } else { %>
            <li class="li-nav"><a href="/">Home</a></li> 
            <li class="li-nav"><a href="/users/new">Sign Up</a></li>
            <li class="li-nav"><a href="/users/login">Login</a></li>

            <% } %>

        </ul>
    </nav>
    </div>
    <%- body %>
</body>
</html>