<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillow</title>
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script> -->
    <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' /> -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 40; bottom: 0; width: 50%; height: 50%; }
    </style>

</head>
<body>
    <h1>Fillow</h1>
    <nav>
        <ul>
            <% if(user) { %>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <li><a href="/listings/new">Upload</a></li>
            <% } else { %>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/users/login">Login</a></li>

            <% } %>

        </ul>
    </nav>
    <%- body %>
</body>
</html>