
#map { position: relative; width: 700px; height:500px }
.home-list {
    font-size: 20px;
    text-align: center;
    list-style: none;
    padding-top: 30px;

}
.home-ul{
    list-style-type: none;
}
/*
.layout-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
} */

nav {
    float:left;
    
}
nav ul {
    /* TRBL */
    margin: 0;
    padding: 0;
    list-style:none;
}
nav li {
    display:inline-block;
}
.hello-user {
    padding-top: 20px;
}
.create {
    padding-top: 20px;
}