
<p>If you dont want to make an account, use email - 123@123.com password - 123</p>


<form action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    
    
    <label for="email">Password:</label>
    <input type="password" name="password" id="password">
    
    <button type="submit">Log In</button>
</form>