<p class="one-account">Head over to login to use a guest user!</p>
<form action="/users" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" class="login-field" placeholder="name@email.com">
    
    
    <label for="email">Password:</label>
    <input type="password" name="password" id="password" class="login-field" placeholder="password">
    
    <button type="submit" class="login">Sign Up</button>
</form>